<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="./defua.css" />
</head>
<body>
<div class="login-form">
    <h1>Login</h1>
    <form action="#" method="post">
        <p>User Name</p>
        <input type="text" name="user" placeholder="User Name" />
        <p>Password</p>
        <input type="password" name="password" />
        <p class="link">
            Don't have an account <br>
            <a href="#">Sign up here</a>
        </p>
    </form>
</div>
    <div class="footer">@COPY RIGHTS 2022,designed by Monika.</div>
</body>
</html>
